# SparkER

Import child class: SparkER

In [1]:
from sparkER import SparkER

Initializing object of SparkER

In [2]:
sparker = SparkER()

# Read dataset
List of 2 dataset paths is passed as argument.
Return: List of 2 pandas.DataFrame corresponding to the dataset.

Sample dataset used is Articles dataset:
    ->DBLP-ACM: Matches article profiles from dblp.org and dl.acm.org

In [3]:
file_list = ["dataset-sample/Dataset1.csv", "dataset-sample/Dataset2.csv"]
dataframes = sparker.read_dataset(file_list)
dataframes[0].head(5)

,authors,originalId,profileId,sourceId,title,venue,year
0,Benjamin Nguyen Serge Abiteboul Gregory Cobe...,conf/sigmod/NguyenACP01,0,0,Monitoring XML Data on the Web,SIGMOD Conference,2001
1,Umeshwar Dayal Surajit Chaudhuri Tak W. Yan,conf/sigmod/ChaudhuriDY95,1,0,Join Queries with External Text Sources: Exec...,SIGMOD Conference,1995
2,Hongjun Lu Huan Liu Rudy Setiono,conf/vldb/LuSL95,2,0,NeuroRule: A Connectionist Approach to Data M...,VLDB,1995
3,Richard T. Snodgrass,journals/sigmod/Snodgrass98,3,0,Chair's Message,SIGMOD Record,1998
4,Jennifer Widom,journals/sigmod/Widom95,4,0,Editor's Notes,SIGMOD Record,1995

In [4]:
dataframes[1].head(5)

,authors,originalId,profileId,sourceId,title,venue,year
0,Yv&#225;n J. Garc&#237;a Mario A. Lopez Scot...,671188,1000,1,On Optimal Node Splitting for R-trees,Very Large Data Bases,1998
1,Amit Shukla Prasad Deshpande Jeffrey F. Naug...,671189,1001,1,Materialized View Selection for Multidimensio...,Very Large Data Bases,1998
2,Yasuhiko Morimoto Takeshi Fukuda Hirofumi Ma...,671186,1002,1,Algorithms for Mining Association Rules for B...,Very Large Data Bases,1998
3,K. Bernhard Schiefer Jim Kleewein Karen Bran...,671187,1003,1,IBM's DB2 Universal Database demonstrations a...,Very Large Data Bases,1998
4,Ashok Joshi William Bridge Juan Loaiza Tirt...,671184,1004,1,Checkpointing in Oracle,Very Large Data Bases,1998

## Training the model
No model exists in the implementation, null returned by train() method.

In [5]:
model = sparker.train(dataframes)

## Predict blocking
Returns a List of tuples. Each tuple contains a pair of ids of entities that exist in the same block.

In [6]:
predicted_pair_list = sparker.predict(dataframe_list = dataframes)
print(predicted_pair_list[0][:10])

[(u'conf/sigmod/NguyenACP01', u'672205'), (u'conf/vldb/LuSL95', u'758364'), (u'conf/sigmod/SzalayGTKMRSv02', u'245905'), (u'conf/sigmod/SzalayGTKMRSv02', u'671183'), (u'journals/sigmod/Ahlberg96', u'245893'), (u'conf/vldb/Sol01', u'672997'), (u'conf/sigmod/Fernandez94', u'191947'), (u'journals/sigmod/DogacAOD95', u'202662'), (u'conf/vldb/AmbiteKKMST01', u'672186'), (u'journals/sigmod/UrbanDG96', u'672998')]

## Evaluation
Takes as input the file path to the groundtruth and the dataframes from the read_dataset().
Returns Precision, Recall and Block size reduction (using Token blocking as the baseline).

In [7]:
groundtruth = "dataset-sample/articlesGround.csv"
precision, recall, block_reduction = sparker.evaluate(groundtruth, dataframes)
print("Precision: " + str(precision) + " Recall: "+ str(recall)+" block_size_reduction: "+str(block_reduction))

Precision: 0.40589569161 Recall: 0.959785522788 block_size_reduction: 0.999299803834